<html>
    <head>DEBUG form!</head>

    <body>
        <form action="/cars", method="post">
            <input type="text" name="camIds"> <br>
            <input type="submit">
        </form>
    </body>
</html>
