<html>
    <head>
        <title>DEBUG form!</title>
    </head>

    <body>
        <form action="/cars" method="post">
            <input type="text" name="camIds"> <br>
            <input type="hidden" name="api" value="dc657b32097507ca7d98442fa52d2d85">
            <input type="submit">
        </form>
    </body>
</html>
