<!DOCTYPE html>
<html>
  <head>
    <title>Motion tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Motion tracker</h1>
    Changed the page, Ha!
  </body>
</html>
